@import "./styles/normalize";
@import "./styles/reset";
@import "./styles/layout";
@import "./styles/global";

// Layout example

.header {
  --width: 12;
}

.content {
  --width: 8;
  height: 30rem;
}

.sidebar {
  --width: 4;
  height: 20rem;
}
